*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: rgb(47, 5, 126);
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2rem;

}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    text-decoration: none;
    color: antiquewhite;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200vh;
    background-color: rgb(0, 0, 0);
}


#project-list {
    display: flex;
    justify-content: space-evenly;
    
}

figcaption{
    text-align: center;
}

h1 {
    color: #fff;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    margin: 6rem;
    flex-wrap: wrap;
}

#contact a {
    text-decoration: none;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: darkcyan;
    color: #fff;
    

}

@media screen and (width: 600px) {
    body{
        color: rebeccapurple;
    }
}

