:root {
    box-sizing: border-box;
}

body{
    background-color: black;
}

a > img {
    height: 18rem;
    margin: 4px;
    
}

button {
    font-size: 2rem;
    background-color: green;
    border-radius: 20px;
    display: flex;

}

img{
    border-style: solid;
    border-color: firebrick;
    border-width: 10px;
}

#maleButton{
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#maleButton:hover {background-color: #3e8e41}

#maleButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#femaleButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blueviolet;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#femaleButton:hover {background-color: #3e8e41}

#femaleButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#otherButton{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#otherButton:hover {background-color: #3e8e41}

#otherButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


h1 {
    display: flex;
    justify-content: center;

}