:root {
    box-sizing: border-box;
}

body{
    background-color: #dfdfdf;
}

a > img {
    height: 18rem;
    margin: 4px;
}

button {
    font-size: 2rem;
    background-color: red;
    border-radius: 20px;
    padding: 8px;
}