:root {
    box-sizing: border-box;
}

body{
    background-color: black;
}

a > img {
    height: 18rem;
    margin: 4px;
    
}

button {
    font-size: 2rem;
    background-color: green;
    border-radius: 20px;
    display: flex;

}

img{
    border-style: solid;
    border-color: firebrick;
    border-width: 10px;
}

#maleButton{
    background-color: red;
}

#femaleButton {
    background-color: greenyellow;
}
#otherButton{
    background-color: darkmagenta;
}
h1 {
    display: flex;
    justify-content: center;

}