:root {
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px red;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    color: aqua;
    text-shadow: 2px 2px 5px red;
}

.container{
    display: flex;
    background-image: linear-gradient(whitesmoke, grey);
    border-style: dotted;
    border-color: blue;
    border-width: 10px;

    
}
    


.nav{
    border: solid 2px blue;
    padding-right: 1rem;
    border-width: 10px;
    border-style: dotted;
}

img{
   padding: 120px;
  border-radius: 40%;
  
}

:hover > li{
    color:black;
}

body {
    background-image: linear-gradient(black,red);
}