body{
    background-color: grey;
}



.senators {
    display: flex;
    flex-wrap: wrap;
    
}

figcaption{
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    text-shadow: 0 0 3px green;

}

img {
    border-style: solid;
    border-color: green;
    box-shadow: 5px 5px;
}